@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text font-body;
    scrollbar-width: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* v5.0 Opt 7: React Portal Modal Body Bypass */
  body.modal-open {
    overflow: hidden;
  }
}
